/* Оформление панели */
.side-title a{
    color: #fff;
}
.side-title a:hover{
    opacity: 0.7;
}
#side_panel {
    opacity: 0;
}
.side-panel {
    transition: all 1s ease;
    position: fixed;
    right: 0;
    color: #fff;
    z-index: 3;
    bottom: 110px;
    border: 0;
    background-color: #8bb199;
    border-radius: 24px 0 0 24px;
    -webkit-box-shadow: 0 4px 20px rgba(247,148,30,.15);
    box-shadow: 0 4px 20px rgba(247,148,30,.15);
    padding: 8px 35px 8px 56px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #fff;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}
